<div class="cursor" [style.top]="top" [style.left]="left" [ngClass]="{'expand':expand}"></div>

<div class="copy-cursor hidden" [ngClass]="{'hidden':copyCursor}">
    <span class="text-p position-absolute" [ngClass]="{'hidden':copyCursor}">Copy</span>
    <span class="text-p position-absolute" [ngClass]="{'hidden':copyCursor}">Copied</span>
</div>

<div class="open-cursor" [ngClass]="{'hidden':openCursor}">
    <span class="text-p position-absolute" [ngClass]="{'hidden':openCursor}">Open</span>
</div>