@mixin tablet-and-up {
    @media screen and (min-width: 768px) {
        @content;
    }
}

.truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}



.detail {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    max-height: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;
    background-color: #00000059;
    opacity: 0;
    z-index: 100000;
    cursor: auto;

    .content-body {
        width: 80vw;
        height: 80vh;
        background-color: white;
        color: black;
        border-radius: 10px;

        #closeBtn {
            cursor: pointer;
        }
    }
}

.joystick {
    width: 150px;
    height: 150px;
    background-color: #399dd24d;
    position: absolute;
    bottom: 60px;
    left: 25px;
    z-index: 100002;
    border-radius: 50%;
    backdrop-filter: blur(4px);

    @include tablet-and-up {
        bottom: 10px;
    }

    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        padding: 10px;

        .arrow {
            cursor: pointer;

            i {
                width: 32px;
                height: 32px;
                padding: 5px;

                &:hover {
                    color: #399dd2;
                    background-color: white;
                    border-radius: 50%;
                    justify-content: center;
                    display: inline-flex;

                }
            }


        }

        .middle-arrows {
            width: 100%;
            display: flex;
            flex-direction: row;

            .left-arrow {
                width: 50%;
                align-self: start;
            }

            .right-arrow {
                width: 50%;
                align-self: end;
                text-align: end;
            }
        }

    }
}