.truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}



.detail {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    max-height: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;
    background-color: #00000059;
    opacity: 0;
    z-index: 10000;
    cursor: auto;

    .content {
        width: 80vw;
        height: 80vh;
        background-color: white;
        color: black;
        border-radius: 10px;

        #closeBtn{
            cursor: pointer;
        }
    }
}