<app-cursor [enable-copy-cursor]="enableCopyCursor" [enable-open-cursor]="enableOpenCursor"></app-cursor>
<div class="container-fluid min-vh-100">
  <nav>
    <ul>
      <li routerLink="/"><button class="btn btn-value background-black" data-hover='Home'>Home</button></li>
      <li routerLink="/experience"><button class="btn btn-value background-black"
          data-hover='Experience'>Experience</button></li>
      <li routerLink="/contact"><button class="btn btn-value background-black" data-hover='Contact'>Contact</button>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>